.appStructure__mainContent {
	width: 100%;

	min-height: calc(100vh - 55px - 50px);

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--background-primary-color);
	padding: 10px 0;
}
