.moduleNavbar__container {
	width: 100%;
	height: 50px;
	/* background-color: var(--primary-color-app); */
	background: linear-gradient(180deg, #19a8e4 0%, #0094ff 100%);
	position: sticky;
	top: 55px;
	z-index: 5;
	padding: 0 50px;
}

.moduleNavbar__list {
	display: flex;
	align-items: center;
}
.moduleNavbar__item {
	color: #fff;
	padding: 5px 15px;
	margin: 0 10px;
	cursor: pointer;
}
.moduleNavbar__item:hover {
	background-color: steelblue;
	color: #fff;
	border-radius: 5px;
}
.moduleNavbar__item__separator {
	color: #fff;
}

.menubar__container {
	height: 40px !important;
	background-color: transparent !important;
	border: none !important;
}
