.sectionContainerBox__container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 5px;
}

.title__section {
	font-weight: 600;
	padding: 5px 10px;
	margin: 0;
	background-color: #eee;
	border-radius: 5px;
	font-size: 14px;
}
